
.card-shadows{
    box-shadow: 0 0 10px #03dacc;
    background: #fff;
    
    left: 0;
     
}

.headings{
    font-size: 5rem;
}

.navbar{
    position: sticky;
    top:0;
    z-index: 10;
    background-color: aliceblue;
}

.reg{
    background-color: #85acce;
}